{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en" data-menu-color="brand">
<head>
    <meta charset="utf-8" />
    <title>{% trans "CodeWave - Conectando visões a soluções" %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="CodeWave - Conectando visões a soluções: onde sua ideia encontra seu desenvolvedor ideal" name="description" />
    <meta content="CodeWave" name="author" />

    <!-- App favicon -->
    <link rel="shortcut icon" href={% static "assets/images/favicon.ico" %}>

    <!-- Plugins css -->
    <link href={% static "assets/libs/flatpickr/flatpickr.min.css" %} rel="stylesheet" type="text/css" />
    <link href={% static "assets/libs/selectize/css/selectize.bootstrap3.css" %} rel="stylesheet" type="text/css" />

    <!-- Bootstrap css -->
    <link href={% static "assets/css/bootstrap.min.css" %} rel="stylesheet" type="text/css" id="app-style" />

    <!-- App css -->
    <link href={% static "assets/css/app.min.css" %} rel="stylesheet" type="text/css" />

    <!-- Icons css -->
    <link href={% static "assets/css/icons.min.css" %} rel="stylesheet" type="text/css" />

    <!-- Select2 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />

    <!-- Theme Config Js -->
    <script src={% static "assets/js/head.js" %}></script>
</head>

<body class="auth-fluid-pages pb-0">

    <div class="auth-fluid">
        <!--Auth fluid left content -->
        <div class="auth-fluid-form-box">
            <div class="align-items-center d-flex h-100">
                <div class="p-3">
                    <!-- Logo -->
                    <div class="auth-brand text-center text-lg-start">
                        <div class="auth-brand">
                            <a class="logo logo-light text-center">
                                <span class="logo-lg">
                                    <img src="assets/images/logo-new-text.png" alt="" height="22">
                                </span>
                            </a>
                        </div>
                    </div>

                    <div class="container mt-5">
                        <h4 class="mt-0">{% trans "Register in the platform" %}</h4>
                        <p class="text-muted mb-4">{% trans "Don't have an account to access the platform? Create one now. It's quick :)" %}</p>
                
                        <!-- Formulário de Registro -->
                        <form action="{% url 'register' %}" method="post" class="text-left">
                            {% csrf_token %}
                
                            <!-- Exibir erros que não estão ligados a um campo específico -->
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-danger">
                                    {{ error }}
                                </div>
                            {% endfor %}
                
                            <!-- Campo Username -->
                            <div class="form-group">
                                <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
                                {{ form.username }}
                                {% for error in form.username.errors %}
                                    <span class="text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>
                            <br>
                            <!-- Campo Nome -->
                            <div class="form-group">
                                <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
                                {{ form.name }}
                                {% for error in form.name.errors %}
                                    <span class="text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>
                            <br>
                            <!-- Campo E-mail -->
                            <div class="form-group">
                                <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                                {{ form.email }}
                                {% for error in form.email.errors %}
                                    <span class="text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>
                            <br>
                            <!-- Campo Is Developer -->
                            <div class="form-group">
                                <div class="form-check">
                                    {{ form.is_developer }}
                                    <label class="form-check-label" for="{{ form.is_developer.id_for_label }}">
                                        {{ form.is_developer.label }}
                                    </label>
                                </div>
                            </div>
                            <br>
                            <!-- Campo Is Client -->
                            <div class="form-group">
                                <div class="form-check">
                                    {{ form.is_client }}
                                    <label class="form-check-label" for="{{ form.is_client.id_for_label }}">
                                        {{ form.is_client.label }}
                                    </label>
                                </div>
                            </div>
                            <br>
                            <!-- Campo Skills -->
                            <div class="form-group">
                                <label for="{{ form.skills.id_for_label }}">{{ form.skills.label }}</label>
                                {{ form.skills }}
                                {% for error in form.skills.errors %}
                                    <span class="text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>
                                <!-- Campo Bio -->
                            <div class="form-group">
                                <label for="{{ form.bio.id_for_label }}">{{ form.bio.label }}</label>
                                {{ form.bio }}
                                {% for error in form.bio.errors %}
                                    <span class="text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>
                            <br>
                            <!-- Campos de Senha -->
                            <div class="form-group">
                                <label for="{{ form.password1.id_for_label }}">{{ form.password1.label }}</label>
                                {{ form.password1 }}
                                {% for error in form.password1.errors %}
                                    <span class="text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>
                            <br>
                            <div class="form-group">
                                <label for="{{ form.password2.id_for_label }}">{{ form.password2.label }}</label>
                                {{ form.password2 }}
                                <small class="form-text text-muted">{{ form.password2.help_text }}</small>
                                {% for error in form.password2.errors %}
                                    <span class="text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>
                            <br>
            
                            <!-- Botão de envio -->
                            <div class="text-center">
                                <button class="btn btn-primary" type="submit">{% trans "Create account" %}</button>
                            </div>
                            <br>
                        </form>
                    </div>

                <!-- Footer -->
                <footer class="footer footer-alt">
                    <p class="text-muted">
                        {% trans "Already have an account?" %}
                        <a href="{% url 'login' %}" class="text-muted ms-1">
                            <b>{% trans "Login" %}</b>
                        </a>
                    </p>
                </footer>

                </div> <!-- end .card-body -->
            </div> <!-- end .align-items-center.d-flex.h-100-->
        </div>
        <!-- end auth-fluid-form-box-->

    <!-- Auth fluid right content -->
    <div class="auth-fluid-right text-center" style="background-color: #27639d; display: flex; align-items: center; justify-content: center; height: 100vh; width: 100%;">
        <div class="center" style="display: flex; flex-direction: row; align-items: center; justify-content: center; width: 90%; max-width: 800px;">
            <img src="{% static 'assets/images/logo-new.png' %}" alt="Logo Dark" style="height: 100px; width: auto; max-width: 50%; object-fit: contain;">
            <img src="{% static 'assets/images/codewave_text_logo_3_no_bg.png' %}" alt="Universidade Federal do Rio Grande do Sul (UFRGS)" style="height: 100px; width: auto; max-width: 50%; object-fit: contain;">
        </div>
    </div>

    <!-- end Auth fluid right content -->
    </div>
    <!-- end auth-fluid-->

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Select2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

    <!-- Inicialização do Select2 -->
    <script>
    $(document).ready(function() {
        $('#{{ form.skills.id_for_label }}').select2({
            placeholder: "Select skills",
            allowClear: true
        });
    });
    </script>

    <!-- Authentication js -->
    <script src={% static "assets/js/pages/authentication.init.js" %} ></script>
</body>
</html>

