{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block page_content %}
<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <h4 class="page-title">{% trans "Pesquisar Projetos" %}</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title mb-3">{% trans "Filtros de Pesquisa" %}</h4>

                    <form method="POST" action="{% url 'projects:search_projects' %}">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="searchInput" class="form-label">{% trans "Nome do Projeto" %}</label>
                                    <input type="text" class="form-control" id="searchInput" name="searchInput" placeholder="{% trans 'Digite o nome do projeto' %}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="categorySelect" class="form-label">{% trans "Categoria" %}</label>
                                    <select class="form-select" id="categorySelect" name="categorySelect">
                                        <option value="">{% trans "Todas as Categorias" %}</option>
                                        {% for categorie in categories %}
                                        <option value="{{ categorie }}">{{ categorie }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="text-end mt-3">
                            <button type="submit" class="btn btn-primary waves-effect waves-light">
                                <i class="mdi mdi-magnify me-1"></i> {% trans "Pesquisar" %}
                            </button>
                        </div>
                    </form>
                </div> <!-- end card-body -->
            </div> <!-- end card -->
        </div> <!-- end col -->
    </div> <!-- end row -->
</div> <!-- container-fluid -->
{% endblock %}